<launch>
  
  <node pkg="pandora_exploration" type="exploration_controller" name="explorer" output="screen" >
    <rosparam file="$(find pandora_exploration)/config/costmap_params.yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find pandora_exploration)/config/frontier_exploration_params.yaml" command="load" />
  </node>

</launch>
