<launch>

  <arg name="cmd_topic" default="cmd_vel" />

  <arg name="global" default="navfn" />  <!-- navfn or sbpl-->
  <arg name="local" default="teb" />  <!--teb or dwa -->

  <arg name="slam" default="true" />

  <!-- Launch move base -->
  <node
    name="move_base"
    pkg="move_base"
    type="move_base"
    respawn="false"
    output="screen">

    <rosparam>
      recovery_behavior_enabled: False
      clearing_rotation_allowed: False
      planner_frequency: 0.0
    </rosparam>

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/costmap_common_params.yaml"
      command="load"
      ns="global_costmap" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/costmap_common_params.yaml"
      command="load"
      ns="local_costmap" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/local_costmap_params.yaml"
      command="load"
      ns="local_costmap" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/global_costmap_params.yaml"
      command="load"
      ns="global_costmap" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/global_planners/$(arg global)/base_global_planner_params.yaml"
      command="load" />

    <param
      name="SBPLLatticePlanner/primitive_filename"
      value="$(find pandora_monstertruck_2dnav)/config/global_planners/sbpl/motion_primitives/four_wheel_steer.mprim" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/local_planners/$(arg local)/base_local_planner_params.yaml"
      command="load" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/costmap_converter_params.yaml"
      command="load" />

    <!-- remap planner topics for rviz -->
    <remap
      from="move_base/TebLocalPlannerROS/local_plan"
      to="move_base/local_plan" />

    <remap
      from="move_base/DWAPlannerROS/local_plan"
      to="move_base/local_plan" />

    <remap
      from="move_base/EBandPlannerROS/local_plan"
      to="move_base/local_plan" />

    <remap
      from="move_base/AckermannPlannerROS/local_plan"
      to="move_base/local_plan" />

    <remap
      from="move_base/NavfnROS/plan"
      to="move_base/global_plan" />

    <remap
      from="move_base/SBPLLatticePlanner/plan"
      to="move_base/global_plan" />

    <remap
      from="/cmd_vel"
      to="$(arg cmd_topic)" />

  </node>

  <group unless="$(arg slam)">
    <param name="move_base/local_costmap/global_frame" value="odom" />
    <param name="move_base/global_costmap/static_layer/map_topic" value="map" />
    <param name="move_base/exploration_costmap/static_layer/map_topic" value="map" />
  </group>

  <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 map odom 100" />

</launch>
