<launch>

  <arg name="global" default="navfn" />  <!-- navfn or sbpl-->
  <arg name="local" default="teb" />  <!--teb or dwa -->

  <!-- Launch move base -->
  <node
    name="move_base"
    pkg="move_base"
    type="move_base"
    respawn="false"
    output="screen">

    <rosparam>
      recovery_behavior_enabled: False
      clearing_rotation_allowed: False
      planner_frequency: 1.0
    </rosparam>

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/costmap_common_params.yaml"
      command="load"
      ns="global_costmap" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/costmap_common_params.yaml"
      command="load"
      ns="local_costmap" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/local_costmap_params.yaml"
      command="load" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/global_costmap_params.yaml"
      command="load" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/planners/$(arg global)/base_global_planner_params.yaml"
      command="load" />

    <param
      name="SBPLLatticePlanner/primitive_filename"
      value="$(find pandora_monstertruck_2dnav)/config/motion_primitives/four_wheel_steer.mprim" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/planners/$(arg local)/base_local_planner_params.yaml"
      command="load" />

    <rosparam
      file="$(find pandora_monstertruck_2dnav)/config/costmaps/costmap_converter_params.yaml"
      command="load" />

  </node>

  <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 map odom 100" />

</launch>
