<launch>
  <!-- argument to switch between teb and dwa local planners -->
  <arg name="local" default="teb" />

  <!-- launch stdr simulator and robot -->
  <include file="$(find pandora_monstertruck_2dnav)/launch/stdr.launch" />
  <include file="$(find pandora_monstertruck_2dnav)/launch/robot.launch" />

  <!-- launch state manager node -->
  <include file="$(find state_manager)/launch/stateManager.launch" />

  <!-- launch slam and pose_estimations nodes -->
  <include file="$(find pandora_slam_2d)/launch/pandora_slam_2d.launch">
    <arg name="robot" value="monstertruck" />
  </include>
  <include file="$(find pandora_pose_estimation)/launch/pose_estimation_5_dof.launch" />

  <!-- launch navigation nodes -->
  <include file="$(find pandora_monstertruck_2dnav)/launch/move_base.launch">
    <arg name="local" value="$(arg local)" />
  </include>
  <!-- <include file="$(find pandora_monstertruck_2dnav)/launch/ackermann_to_twist.launch" /> -->

  <!-- launch rviz -->
  <include file="$(find pandora_monstertruck_2dnav)/launch/rviz.launch" />

</launch>
