<launch>

  <arg name="gui" default="false" />

  <!-- Launch stdr simulator with map (and gui) -->
  <node
    name="stdr_server"
    type="stdr_server_node"
    pkg="stdr_server"
    output="screen"
    args="$(find stdr_resources)/maps/robocup.yaml" />

  <group if="$(arg gui)">
    <include
      file="$(find stdr_gui)/launch/stdr_gui.launch" />
  </group>

  <include
    file="$(find stdr_robot)/launch/robot_manager.launch" />

  <node
    pkg="topic_tools"
    type="relay"
    name="odom_relay_node"
    args="/robot0/odom /odom" />

  <node
    pkg="topic_tools"
    type="relay"
    name="cmd_vel_relay_node"
    args="/cmd_vel /robot0/cmd_vel" />

  <node
    name="scan_frame_remapper"
    pkg="pandora_monstertruck_2dnav"
    type="scan_frame_remapper.py" />

</launch>
