<launch>

  <!-- Launch stdr simulator with map and gui -->
  <node
    name="stdr_server_node"
    type="stdr_server_node"
    pkg="stdr_server"
    output="screen"
    args="$(find stdr_resources)/maps/simple_rooms.yaml" />

  <include
    file="$(find stdr_gui)/launch/stdr_gui.launch" />

  <include
    file="$(find stdr_robot)/launch/robot_manager.launch" />

  <!-- relay simulator topics to match real robot -->
  <node
    pkg="topic_tools"
    type="relay"
    name="laser_relay_node"
    args="/robot0/laser_0 /laser/scan" />

  <node
    pkg="topic_tools"
    type="relay"
    name="odom_relay_node"
    args="/robot0/odom /odom" />

  <node
    pkg="topic_tools"
    type="relay"
    name="cmd_vel_relay_node"
    args="/cmd_vel /robot0/cmd_vel" />

</launch>
